<div class="container border p-3" style="min-height: 100vh;">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12 room_name">
          Room: {{room}} <button class="btn btn-sm btn-primary" (click)="leaveRoom()">Leave</button>
        </div>
        <div class="col-12 online" style="max-height: 100vh; overflow-y: scroll;">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let data of usersInRoom">{{data.user}} <sub
                class="text text-success">online</sub> <span (click)="privateRoom(data.userId)">Message</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 mb-3" style="max-height: 80vh; overflow-y: auto;">
          <div class="message card mb-2" *ngFor="let message of messages">
            <div class="card-body">
              <h6 class="card-title">{{message.user}}</h6>
              <div class="card-text">{{message.message}}</div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12">

          <form action="" #f="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" name="message" [ngModel]="message" placeholder="Message">
            </div>
            <button class="btn btn-primary" type="submit" (click)="sendMessage(f)">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <ng-container *ngFor="let id of privateRooms">
    <div class="col-3 border mr-2" [attr.id]="id">
      <div class="messages" style="height: 200px;">
        <div class="card mb-2 p-2" *ngFor="let msg of privateMessages[id]">
          <div class="card-text" *ngIf="msg.user">{{msg.user}}: {{msg.message}}</div>
        </div>
      </div>
      <div>
        <form action="" #pm="ngForm">
          <div class="form-group">
            <input type="text" class="form-control" name="message" [ngModel]="message" placeholder="Message">
          </div>
          <button class="btn btn-sm btn-secondary" (click)="privateMessage(pm, id)">Send</button>
        </form>
      </div>
    </div>
  </ng-container>
</div>
