<div class="container border p-3" style="min-height: 100vh;">
  <div class="row">
    <div class="col-3">
      <div class="row">
        <div class="col-12 room_name">
          Room: {{room}} <button class="btn btn-sm btn-primary" (click)="leaveRoom()">Leave</button>
        </div>
        <div class="col-12 online" style="max-height: 100vh; overflow-y: scroll;">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let data of usersInRoom">{{data.user}} <sub
                class="text text-success">online</sub> <span (click)="privateRoom(data.userId)">Message</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 mb-3" style="min-height: 550px; max-height: 550px; overflow-y: auto;">
          <div class="message card mb-2" *ngFor="let message of messages">
            <div class="card-body">
              <h6 class="card-title">{{message.user}} <sub>{{message['message_time'] | date: 'short'}}</sub></h6>
              <div class="card-text">
                {{message.message}} <br>
                <img *ngIf="message['file']" [src]="['data:image/jpeg;base64,'+message['file']]" alt=""
                  style="width: 200px;">
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="col-12">

          <form action="" #f="ngForm">
            <div class="form-group">
              <input type="text" class="form-control" name="message" [ngModel]="message" placeholder="Message">
            </div>
            <div class="form-group">
              <input type="file" class="form-control" name="file" (change)="fileAdded($event)">
            </div>
            <button class="btn btn-primary" type="submit" (click)="sendMessage(f, room)">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row p-3">
  <ng-container *ngFor="let prm of privateRooms">
    <div class="col-3" style="height: 400px;">
      <div class="card" style="width: 18rem; height: 100%; overflow: hidden;">
        <div class="card-header">{{prm.targetUser}}</div>
        <div class="card-body" style="height: 70% !important; overflow-y: auto;">
          <ng-container *ngFor="let msg of privateMessages[prm.id]">
            <p class="card-text bg bg-secondary rounded pl-1 pt-2 pb-2">{{msg.user}}: {{msg.message}}
              <br><span>{{msg.message_time | date: 'short'}}</span>
            </p>
          </ng-container>
        </div>
        <div class="card-footer bg bg-secondary" style="height: 20%;">
          <form action="" #pm="ngForm">
            <div class="input-group">
              <input type="text" class="form-control" name="message" [ngModel]="message" placeholder="Message">
              <div class="input-group-prepend" (click)="privateMessage(pm, prm.id)" style="cursor: pointer;">
                <div class="input-group-text bg bg-primary">send</div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>

  </ng-container>
</div>
